# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
ENV/
*.env

# Django stuff
db.sqlite3
*.log
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Render logs
*.log

# Node modules (if used for front-end)
node_modules/
